[defaults]
inventory = inventory.yml
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
callback_result_format = yaml
intepreter_python = auto_silent
deprecation_warnings = False
inject_facts_as_vars = False

[privilege-escalation]
become = True
become_method = sudo